.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-box {
  background-color: pink;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
  height: 85vh;
  width: 20vw;
  font-size: 25px;
}

.image {
  display: grid;
  place-items: center;
}

.turn-title {
  font: 30px copperplate;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper {
  display: grid;
  place-items: center;
  margin-left: 3%;
}

.alignment {
  display: flex;
  flex-direction: row;
}

.buttonalignment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.word {
  display: grid;
  place-items: center;
  font: 30px copperplate;
  color: white;
  background-color: palevioletred;
  margin-top: 1%;
  box-align: center;
  display: inline-flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game{
  background-color: gainsboro;
  cursor: pointer;
  display: block;
  float: center;  
  z-index: 5;
  align-items: center;
}